---
const logo = 'https://www.cleverflow.mx/images/prod/Header/logo_negro_azul.png'
---

<header class="w-[100%] h-[100px] py-3"> 
    <div class="content-header w-[90%] mx-auto h-[90px] flex flex-row justify-between items-center max-w-[1140px]">
        <div class="logo w-[50%] h-[90px] flex justify-start items-center">
          <img src={logo} alt="Agencia de marketing de influencers" class="w-[180px] md:w-[200px]">
        </div>
         <div class="cta w-[50%] h-[90px] flex justify-end items-center">
            <a href="#" class="bg-[#0437DE] py-1 md:py-2 px-4 md:px-6 rounded-sm text-white font-medium ">Pedir Cotización</a>
         </div>
    </div>
  
</header>