---
const {datosLanding} = Astro.props 
console.log(datosLanding) 

 
--- 

<div class="contenedor-componente w-[90%] mx-auto  max-w-[1140px] h-auto flex flex-col justify-center items-center md:flex-row md:justify-around md:items-center py-4">
    <div class="txt-1">

        <h1 class="text-[30px] font-bold">{datosLanding.titulo_1}</h1>  
        <p class="text-justify">{datosLanding.texto_1}</p>

    </div>
    <div class="img-1">
        <img src={datosLanding.img_1.url} alt="">
    </div>

</div>        


<script>
 
</script>